
.imageHeight{
  height: 200px;
}
.heading{
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;

}


.scroll{
  overflow-x: hidden;
}
.data:hover{
  transform: scale(1.09);
  transition-duration: 5ms;
  
}
.buttondata:hover{
  transform: scale(1.02);
  font-size: larger;

  transition-duration: 5ms;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

#navlogo{
 font-family:'Times New Roman', Times, serif;
 font-style: italic;
 font-weight: 900;
 color: transparent;
 background: linear-gradient(to right ,green  , red );
 background-clip: text;
}
